<div class="blog_show_posts_light flexbox-y">
    <h2 class="font1 heading">Blog Posts</h2>
    <div class="blog-show-posts pad_btm-1 flexbox-even">
        <div class="blog_show_post flexbox-y pad-1">
            <div class="blog_feature_img zoom">
                <img src="/public/bg1.jpg" alt="" srcset="">
            </div>
            <div class="show_post_content">
                <a>
                    <h4 class="hover-underline-animation font1">Never let your memories be greater than your
                        dreams
                    </h4>
                </a>
                <div class=" post-meta  font1">
                    <i class="fa-solid fa-clock"></i>
                    <span>5 min</span>
                </div>
            </div>
        </div>
        <div class="blog_show_post flexbox-y pad-1">
            <div class="blog_feature_img">
                <img src="/public/bg2.jpg" alt="" srcset="">
            </div>
            <div class="show_post_content">
                <a>
                    <h4 class="hover-underline-animation font1">The future belongs to those who believe in
                        the beauty of their dreams.
                    </h4>
                </a>
                <div class=" post-meta  font1">
                    <i class="fa-solid fa-clock"></i>
                    <span>5 min</span>
                </div>
            </div>
        </div>
        <div class="blog_show_post flexbox-y pad-1">
            <div class="blog_feature_img">
                <img src="/public/blog_post9.jpg" alt="" srcset="">
            </div>
            <div class="show_post_content">
                <a>
                    <h4 class="hover-underline-animation font1">Don't waste your energy trying to change
                        opinions ... Do your thing, and don't care if they like it.
                    </h4>
                </a>
                <div class=" post-meta  font1">
                    <i class="fa-solid fa-clock"></i>
                    <span>5 min</span>
                </div>
            </div>
        </div>
        <div class="blog_show_post flexbox-y pad-1">
            <div class="blog_feature_img">
                <img src="/public/blog_post10.jpg" alt="" srcset="">
            </div>
            <div class="show_post_content">
                <a>
                    <h4 class="hover-underline-animation font1">Confidence and Hard-work is the best
                        medicine to kill the disease called failure
                    </h4>
                </a>
                <div class=" post-meta  font1">
                    <i class="fa-solid fa-clock"></i>
                    <span>4 min</span>
                </div>
            </div>
        </div>
    </div>
    <div class="banner-button flex">
        <button class="wht_btns style_box btns1 wht_col flex">View All<div class="btns_img_cnt black_cont "><img
            src="/public/icons8-setting.svg" alt="" srcset=""></div></button>
        <button class="org_btns style_box btns1 org_col flex">Book Online Session<div
                class="btns_img_cnt black_cont"><img src="/public/icons8-finger.svg" alt="" srcset=""></div>
        </button>
       
    </div>
</div>