<div class="modal-overlay" id="modal-overlay">
    <div class="modal_bg" id="modal">
        <div class="flexbox-even">
            <h5 class="normal-heading font1"> Add Time Slots</h5> <span><i class="fa fa-times pad-1"></i></span>
        </div>
        <div class="modal-body">
            <form>
                <div class="flexbox-y">
                    <div class="flex pad_btm-1">
                        <span class="font1 pad-1">Start Time</span>
                        <div class="form-group form-element font1"><select class="form-control form-element">
                                <option>Select</option>
                                <option>12.00 am</option>
                                <option>1.00 am</option>
                                <option>2.00 am</option>
                                <option>3.00 am</option>
                                <option>4.00 am</option>
                                <option>5.00 am</option>
                                <option>6.00 am</option>
                                <option>7.00 am</option>
                                <option>8.00 am</option>
                                <option>9.00 am</option>
                                <option>10.00 am</option>
                                <option>11.00 am</option>
                                <option>12.00 pm</option>
                                <option>1.00 pm</option>
                                <option>2.00 pm</option>
                                <option>3.00 pm</option>
                                <option>4.00 pm</option>
                                <option>5.00 pm</option>
                                <option>6.00 pm</option>
                                <option>7.00 pm</option>
                                <option>8.00 pm</option>
                                <option>9.00 pm</option>
                                <option>10.00 pm</option>
                                <option>11.00 pm</option>
                            </select>
                        </div>
                    </div>
                    <div class="flex">
                        <span class="font1 pad-1">End Time</span>
                        <div class="form-group form-element font1"><select class="form-control form-element">
                                <option>Select</option>
                                <option>12.00 am</option>
                                <option>1.00 am</option>
                                <option>2.00 am</option>
                                <option>3.00 am</option>
                                <option>4.00 am</option>
                                <option>5.00 am</option>
                                <option>6.00 am</option>
                                <option>7.00 am</option>
                                <option>8.00 am</option>
                                <option>9.00 am</option>
                                <option>10.00 am</option>
                                <option>11.00 am</option>
                                <option>12.00 pm</option>
                                <option>1.00 pm</option>
                                <option>2.00 pm</option>
                                <option>3.00 pm</option>
                                <option>4.00 pm</option>
                                <option>5.00 pm</option>
                                <option>6.00 pm</option>
                                <option>7.00 pm</option>
                                <option>8.00 pm</option>
                                <option>9.00 pm</option>
                                <option>10.00 pm</option>
                                <option>11.00 pm</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="pad-1 font1 ">
                    <h3 class="blue-font"><a><i class="fa fa-plus-circle"></i> Add More</a></h3>
                </div>
                <div class="flex">
                    <button type="submit" class="btns1 style_box pad-1  org_btns org_col">Save
                        Changes</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal-overlay" id="modal-overlay">
    <div class="modal_bg" id="modal">
        <div class="flexbox-around">
            <h5 class="normal-heading font1"> Add Time Slots</h5> <span><i class="fa fa-times pad-1"></i></span>
        </div>
        <div class="modal-body">
            <form>
                <div class="hours-info">
                    <div class="content flexbox-even">
                        <div class="flex pad-1">
                            <span class="font1 pad-1">Start Time</span>
                            <div class="form-group form-element font1"><select class="form-control form-element">
                                    <option>Select</option>
                                    <option>12.00 am</option>
                                    <option>1.00 am</option>
                                    <option>2.00 am</option>
                                    <option>3.00 am</option>
                                    <option>4.00 am</option>
                                    <option>5.00 am</option>
                                    <option>6.00 am</option>
                                    <option>7.00 am</option>
                                    <option>8.00 am</option>
                                    <option>9.00 am</option>
                                    <option>10.00 am</option>
                                    <option>11.00 am</option>
                                    <option>12.00 pm</option>
                                    <option>1.00 pm</option>
                                    <option>2.00 pm</option>
                                    <option>3.00 pm</option>
                                    <option>4.00 pm</option>
                                    <option>5.00 pm</option>
                                    <option>6.00 pm</option>
                                    <option>7.00 pm</option>
                                    <option>8.00 pm</option>
                                    <option>9.00 pm</option>
                                    <option>10.00 pm</option>
                                    <option>11.00 pm</option>
                                </select>
                            </div>
                        </div>
                        <div class="flex pad-1">
                            <span class="font1 pad-1">End Time</span>
                            <div class="form-group form-element font1"><select class="form-control form-element">
                                    <option>Select</option>
                                    <option>12.00 am</option>
                                    <option>1.00 am</option>
                                    <option>2.00 am</option>
                                    <option>3.00 am</option>
                                    <option>4.00 am</option>
                                    <option>5.00 am</option>
                                    <option>6.00 am</option>
                                    <option>7.00 am</option>
                                    <option>8.00 am</option>
                                    <option>9.00 am</option>
                                    <option>10.00 am</option>
                                    <option>11.00 am</option>
                                    <option>12.00 pm</option>
                                    <option>1.00 pm</option>
                                    <option>2.00 pm</option>
                                    <option>3.00 pm</option>
                                    <option>4.00 pm</option>
                                    <option>5.00 pm</option>
                                    <option>6.00 pm</option>
                                    <option>7.00 pm</option>
                                    <option>8.00 pm</option>
                                    <option>9.00 pm</option>
                                    <option>10.00 pm</option>
                                    <option>11.00 pm</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="flex">
                        <div class="content flexbox-even">
                            <div class="flex pad-1">
                                <span class="font1 pad-1">Start Time</span>
                                <div class="form-group form-element font1"><select class="form-control form-element">
                                        <option>Select</option>
                                        <option>12.00 am</option>
                                        <option>1.00 am</option>
                                        <option>2.00 am</option>
                                        <option>3.00 am</option>
                                        <option>4.00 am</option>
                                        <option>5.00 am</option>
                                        <option>6.00 am</option>
                                        <option>7.00 am</option>
                                        <option>8.00 am</option>
                                        <option>9.00 am</option>
                                        <option>10.00 am</option>
                                        <option>11.00 am</option>
                                        <option>12.00 pm</option>
                                        <option>1.00 pm</option>
                                        <option>2.00 pm</option>
                                        <option>3.00 pm</option>
                                        <option>4.00 pm</option>
                                        <option>5.00 pm</option>
                                        <option>6.00 pm</option>
                                        <option>7.00 pm</option>
                                        <option>8.00 pm</option>
                                        <option>9.00 pm</option>
                                        <option>10.00 pm</option>
                                        <option>11.00 pm</option>
                                    </select>
                                </div>
                            </div>
                            <div class="flex pad-1">
                                <span class="font1 pad-1">End Time</span>
                                <div class="form-group form-element font1"><select class="form-control form-element">
                                        <option>Select</option>
                                        <option>12.00 am</option>
                                        <option>1.00 am</option>
                                        <option>2.00 am</option>
                                        <option>3.00 am</option>
                                        <option>4.00 am</option>
                                        <option>5.00 am</option>
                                        <option>6.00 am</option>
                                        <option>7.00 am</option>
                                        <option>8.00 am</option>
                                        <option>9.00 am</option>
                                        <option>10.00 am</option>
                                        <option>11.00 am</option>
                                        <option>12.00 pm</option>
                                        <option>1.00 pm</option>
                                        <option>2.00 pm</option>
                                        <option>3.00 pm</option>
                                        <option>4.00 pm</option>
                                        <option>5.00 pm</option>
                                        <option>6.00 pm</option>
                                        <option>7.00 pm</option>
                                        <option>8.00 pm</option>
                                        <option>9.00 pm</option>
                                        <option>10.00 pm</option>
                                        <option>11.00 pm</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-2"><label class="d-md-block d-sm-none d-none">&nbsp;</label><a
                                class="btns btns-danger trash"><i class="far fa-trash-alt"
                                    style="color: rgb(255, 255, 255);"></i></a>
                        </div>

                    </div>
                </div>
                <div class="pad-1 font1 flex ">
                    <h3 class="blue-font"><a><i class="fa fa-plus-circle"></i> Add More</a></h3>
                </div>
                <div class="flex">
                    <button type="submit" class="btns1 style_box pad-1  org_btns org_col">Save
                        Changes</button>
                </div>
            </form>
        </div>
    </div>
</div>