<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/blog_style.css">
    <link rel="stylesheet" href="/css/util.css">
    <!-- <iframe src="/views/blog_header.html" width="100%" height="70px" frameBorder="0" scrolling="no"></iframe> -->
    <title>Blog</title>
</head>

<body>
    <script src="/js/slider.js" defer></script>
    <nav>
        <div class="navbar">
            <div class="logo">
                <img src="/public/logo.png" alt="" srcset="">
                <div class="captain">
                    <h2>Smile Please</h2>
                    <h6 class="yellow_font">Mental Health and theraphy</h6>
                </div>
            </div>
            <div class="nav_items">
                <ul>
                    <li><a href="#">Feature</a></li>
                    <li><a href="#">Style Guide</a></li>
                    <li><a href="#">Tags</a></li>
                    <li><a href="#">Author</a></li>
                    <li><a href="#">More</a></li>
                    <button id="search" class="nav-btns"><img id="mode" src="/public/icons8-search-50.png" alt=""
                            srcset=""></button>
                    <button id="day_mode" class="nav-btns"><img id="mode" src="/public/pngwing.com.png" alt=""
                            srcset=""></button>
                    <li><a href="#">SignUp</a></li>
                    <button class="btns" id="Member">Become Member</button>
                </ul>
            </div>
        </div>
    </nav>
    <!-- <div class="contact">
        <img src="/public/call_icon.png" alt="">
        <h4 class="yellow_font">+123-234-1234</h4>
    </div> -->

    
    <div class="blog_page">
        <div class="blog_carousel" data-blog-carousel>
            <div class="blog_slides flex">
                <!-- 1 -->
                <div class="upper_Blog_Section slides " data-active="true">
                    <div class="flex">
                        <div class="upper_Blog_Content">
                            <div class="taglist flex">
                                <a href="">
                                    <span class="tag-accent"></span>
                                    Travel
                                </a>
                            </div>
                            <a href="/views/blog_content1.html">
                                <h1 class="hover-underline-animation heading">How Does Social Anxiety Affect the Brain?</h1>
                            </a>
                            <p class="font1 line-height">Research shows changes in important areas of the brain, such as the hippocampus
                                and
                                amygdala, can be affected by social anxiety.Social anxiety disorder, also known as social
                                phobia, is
                                a form of anxiety that causes intense fear and embarrassment in social situations.</p>
                            <div class=" post-meta  font1">
                                <img src="/public/calendar-alt-solid.svg" alt="" srcset="">
                                <span>2 May , 2022</span>
                                <img src="/public/clock-solid.svg" alt="" srcset="">
                                <span>4 min</span>
                            </div>
                        </div>
                        <div class="upper_Blog_Img shadow_effect img_effect">
                            <div class="zoom">
                                <img src="/public/bg.jpg" alt="" srcset="">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 2 -->
                <div class="upper_Blog_Section slides ">
                    <div class="flex">
                        <div class="upper_Blog_Content">
                            <div class="taglist flex">
                                <a href="">
                                    <span class="tag-accent"></span>
                                    Travel
                                </a>
                            </div>
                            <a href="/views/blog_content1.html">
                                <h1 class="hover-underline-animation heading">What Self-Care Is — and What It Isn’t</h1>
                            </a>
                            <p class="font1 line-height">RSelf-care should not be viewed as something you only do if you have time.
                                Neither is self-care something that should only be a reward that can be gained once other
                                tasks are completed.
                                Self-care, if practiced appropriately, needs to be an integral part of your daily life.
                                Fortifying your emotional, physical, and spiritual health through self-care is the
                                foundation for your overall health and well-being.</p>
                            <div class=" post-meta  font1">
                                <img src="/public/calendar-alt-solid.svg" alt="" srcset="">
                                <span>2 May , 2022</span>
                                <img src="/public/clock-solid.svg" alt="" srcset="">
                                <span>4 min</span>
                            </div>
                        </div>
                        <div class="upper_Blog_Img shadow_effect img_effect">
                            <div class="zoom">
                                <img src="/public/bg2.jpg" alt="" srcset="">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 3 -->
                <div class="upper_Blog_Section slides">
                    <div class="flex">
                        <div class="upper_Blog_Content">
                            <div class="taglist flex">
                                <a href="">
                                    <span class="tag-accent"></span>
                                    Travel
                                </a>
                            </div>
                            <a href="/views/blog_content1.html">
                                <h1 class="hover-underline-animation heading">For Procrastinators Who Believe They Work
                                    Better in a Crisis</h1>
                            </a>
                            <p class="font1 line-height">Procrastination is a common issue among students and many adults. There are
                                many who struggle with deadlines every day, with the feeling of impending doom as the exam
                                or project date looms. It is one of the largest problems seen in college counseling centereds,
                                and it is something nearly everyone has had to deal with at some point in their lives.</p>
                            <div class=" post-meta  font1">
                                <img src="/public/calendar-alt-solid.svg" alt="" srcset="">
                                <span>2 May , 2022</span>
                                <img src="/public/clock-solid.svg" alt="" srcset="">
                                <span>4 min</span>
                            </div>
                        </div>
                        <div class="upper_Blog_Img shadow_effect img_effect">
                            <div class="zoom">
                                <img src="/public/bg1.jpg" alt="" srcset="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="blog_button" blog_sliderbtns>
                <button class="blog_btns blog_prev_btns" data-banner-sliderbtns="prev">&#x2190;</button>
                <button class="blog_btns blog_next_btns" data-banner-sliderbtns="next">&#x2192;</button>
            </div>
        </div>


        <div class="blog_posts flex">
            <div class="blog_post_card_cont flex">
                <!-- 1 -->
                <div class="blog_post_card shadow_effect">
                    <div class="blog_post_card_img img_effect">
                        <div class="zoom">
                            <img src="/public/blog_post1.jpg" alt="">
                        </div>
                    </div>
                    <div class="blog_post_card_content">
                        <div class="taglist flex">
                            <a href="">
                                <span class="tag-accent"></span>
                                Mind
                            </a>
                        </div>
                        <a href="/views/blog_content1.html">
                            <h1 class="hover-underline-animation normal-heading">Mental health problems are as serious
                                as the physical ones</h1>
                            <!-- <h1 class="hover-underline-animation heading">Take some time to travel within,Recovery is not magic, it takes time</h1> -->
                        </a>
                        <p class="font1">
                            Take some time to travel within,Recovery is not magic, it takes time.
                            Mental health is important during every part of our lives. Here’s what it means and how to
                            take better care of yourself.What is a mental health condition?
                        </p>
                        <div class=" post-meta  font1">
                            <img src="/public/calendar-alt-solid.svg" alt="" srcset="">
                            <span>21 June , 2022</span>
                            <img src="/public/clock-solid.svg" alt="" srcset="">
                            <span>5 min</span>
                        </div>
                    </div>
                </div>
                <!-- 2 -->
                <div class="blog_post_card shadow_effect">
                    <div class="blog_post_card_img img_effect">
                        <div class="zoom">
                            <img src="/public/blog_post2.jpg" alt="">
                        </div>
                    </div>
                    <div class="blog_post_card_content">
                        <div class="taglist flex">
                            <a href="">
                                <span class="tag-accent"></span>
                                Mind
                            </a>
                        </div>
                        <a href="/views/blog_content1.html">
                            <h1 class="hover-underline-animation normal-heading">Change allows you to try new things and
                                learn from your mistakes.</h1>

                        </a>
                        <p class="font1">
                            We all make mistakes and there is no shame in that. What matters is how you react to them.
                            If you accept that change is a part of life and embrace it, you are more likely to try new
                            things. This will allow you to experiment and learn from your mistakes.
                        </p>
                        <div class=" post-meta  font1">
                            <img src="/public/calendar-alt-solid.svg" alt="" srcset="">
                            <span>21 June , 2022</span>
                            <img src="/public/clock-solid.svg" alt="" srcset="">
                            <span>5 min</span>
                        </div>
                    </div>
                </div>
                <!-- 3 -->
                <div class="blog_post_card shadow_effect">
                    <div class="blog_post_card_img img_effect">
                        <div class="zoom">
                            <img src="/public/blog_post3.jpg" alt="">
                        </div>
                    </div>
                    <div class="blog_post_card_content">
                        <div class="taglist flex">
                            <a href="">
                                <span class="tag-accent"></span>
                                Mind
                            </a>
                        </div>
                        <a href="/views/blog_content1.html">
                            <h1 class="hover-underline-animation normal-heading">It is not that we have a short time to
                                live… but that we waste a lot of it…</h1>

                        </a>
                        <p class="font1">
                            Assumption is nothing but a believe or thought you have in your mind which has nothing to do
                            with the actual reality, assumptions will do nothing but only make your life shorter and
                            will take away your peace and happiness,
                        </p>
                        <div class=" post-meta  font1">
                            <img src="/public/calendar-alt-solid.svg" alt="" srcset="">
                            <span>21 June , 2022</span>
                            <img src="/public/clock-solid.svg" alt="" srcset="">
                            <span>5 min</span>
                        </div>
                    </div>
                </div>
                <!-- 4 -->
                <div class="blog_post_card shadow_effect">
                    <div class="blog_post_card_img img_effect">
                        <div class="zoom">
                            <img src="/public/blog_post4.jpg" alt="">
                        </div>
                    </div>
                    <div class="blog_post_card_content">
                        <div class="taglist flex">
                            <a href="">
                                <span class="tag-accent"></span>
                                Mind
                            </a>
                        </div>
                        <a href="/views/blog_content1.html"> 
                            <h1 class="hover-underline-animation normal-heading">What is Self-love and Why You Deserve
                                It</h1>
                        </a>
                        <p class="font1">
                            Self-love is not about putting yourself above everyone else, thinking you’re better than
                            others.Self-love is about treating yourself like you treat the people you love. Simple and
                            straight.
                        </p>
                        <div class=" post-meta  font1">
                            <img src="/public/calendar-alt-solid.svg" alt="" srcset="">
                            <span>21 June , 2022</span>
                            <img src="/public/clock-solid.svg" alt="" srcset="">
                            <span>5 min</span>
                        </div>
                    </div>
                </div>
                <!-- 5 -->
                <div class="blog_post_card shadow_effect">
                    <div class="blog_post_card_img img_effect">
                        <div class="zoom">
                            <img src="/public/blog_post5.jpg" alt="">
                        </div>
                    </div>
                    <div class="blog_post_card_content">
                        <div class="taglist flex">
                            <a href="">
                                <span class="tag-accent"></span>
                                Mind
                            </a>
                        </div>
                        <a href="/views/blog_content1.html">
                            <h1 class="hover-underline-animation normal-heading">Take some time to travel
                                within,Recovery is not magic, it takes time</h1>
                        </a>
                        <p class="font1">
                            Self-doubt can be overwhelming and can even hinder the addiction recovery process. Finding a
                            way to ground yourself in the present, nurturing yourself and staying connected with support
                            groups/loved ones are crucial elements to overcoming self-doubt.
                        </p>
                        <div class=" post-meta  font1">
                            <img src="/public/calendar-alt-solid.svg" alt="" srcset="">
                            <span>21 June , 2022</span>
                            <img src="/public/clock-solid.svg" alt="" srcset="">
                            <span>5 min</span>
                        </div>
                    </div>
                </div>
                <!-- 6 -->
                <div class="blog_post_card shadow_effect">
                    <div class="blog_post_card_img img_effect">
                        <div class="zoom">
                            <img src="/public/blog_post6.jpg" alt="">
                        </div>
                    </div>
                    <div class="blog_post_card_content">
                        <div class="taglist flex">
                            <a href="">
                                <span class="tag-accent"></span>
                                Mind
                            </a>
                        </div>
                        <a href="/views/blog_content1.html">
                            <h1 class="hover-underline-animation normal-heading">Feeling the Need to Detox? Here's the
                                Real Truth</h1>
                        </a>
                        <p class="font1">
                            Emotional detox is not to rid your body of what you may consider negative emotions, but
                            rather to clear out the ones that have stagnated.
                        </p>
                        <div class=" post-meta  font1">
                            <img src="/public/calendar-alt-solid.svg" alt="" srcset="">
                            <span>21 June , 2022</span>
                            <img src="/public/clock-solid.svg" alt="" srcset="">
                            <span>5 min</span>
                        </div>
                    </div>
                </div>
                <!-- 7 -->
                <div class="blog_post_card shadow_effect">
                    <div class="blog_post_card_img img_effect">
                        <div class="zoom">
                            <img src="/public/blog_post7.jpg" alt="">
                        </div>
                    </div>
                    <div class="blog_post_card_content">
                        <div class="taglist flex">
                            <a href="">
                                <span class="tag-accent"></span>
                                Mind
                            </a>
                        </div>
                        <a href="/views/blog_content1.html">
                            <h1 class="hover-underline-animation normal-heading">WHY SELF-CARE ISN’T SELFISH — AND HOW
                                TO STOP THINKING IT IS
                            </h1>
                        </a>
                        <p class="font1">
                            Self-care is simply any activity we do to take care of ourselves.
                            Being selfish is defined as, “concerned excessively or exclusively with oneself: seeking or
                            concentrating on one’s own advantage"
                        </p>
                        <div class=" post-meta  font1">
                            <img src="/public/calendar-alt-solid.svg" alt="" srcset="">
                            <span>21 June , 2022</span>
                            <img src="/public/clock-solid.svg" alt="" srcset="">
                            <span>5 min</span>
                        </div>
                    </div>
                </div>
                <!-- 8 -->
                <div class="blog_post_card shadow_effect">
                    <div class="blog_post_card_img img_effect">
                        <div class="zoom">
                            <img src="/public/blog_post8.jpg" alt="">
                        </div>
                    </div>
                    <div class="blog_post_card_content">
                        <div class="taglist flex">
                            <a href="">
                                <span class="tag-accent"></span>
                                Mind
                            </a>
                        </div>
                        <a href="/views/blog_content1.html">
                            <h1 class="hover-underline-animation normal-heading">Its okay not to be okay...</h1>
                        </a>
                        <p class="font1">
                            I want to just take a quick second to ask you,
                            Are you really ok?But I see the tiredness in your eyes.
                            I guess it’s not something you need to say.
                        </p>
                        <div class=" post-meta  font1">
                            <img src="/public/calendar-alt-solid.svg" alt="" srcset="">
                            <span>21 June , 2022</span>
                            <img src="/public/clock-solid.svg" alt="" srcset="">
                            <span>5 min</span>
                        </div>
                    </div>
                </div>
                <button class="btns font1"> Load More</button>
            </div>
            <div class="blog_post_sidebar_cont shadow_effect ">
                <div class="blog_feature_posts flex">
                    <h2 class="font1">Feature Posts</h2>
                    <div class="blog_feature_post flex">
                        <img src="/public/bg1.jpg" class="blog_feature_img" alt="" srcset="">
                        <div class="feature_post_content">
                            <a>
                                <h4 class="hover-underline-animation font1">Never let your memories be greater than your
                                    dreams
                                </h4>
                            </a>
                            <div class=" post-meta  font1">
                                <img src="/public/clock-solid.svg" alt="" srcset="">
                                <span>5 min</span>
                            </div>
                        </div>
                    </div>
                    <div class="blog_feature_post flex ">
                        <img src="/public/bg2.jpg" class="blog_feature_img" alt="" srcset="">
                        <div class="feature_post_content">
                            <a>
                                <h4 class="hover-underline-animation font1">The future belongs to those who believe in
                                    the beauty of their dreams.
                                </h4>
                            </a>
                            <div class=" post-meta  font1">
                                <img src="/public/clock-solid.svg" alt="" srcset="">
                                <span>5 min</span>
                            </div>
                        </div>
                    </div>
                    <div class="blog_feature_post flex">
                        <img src="/public/blog_post9.jpg" class="blog_feature_img" alt="" srcset="">
                        <div class="feature_post_content">
                            <a>
                                <h4 class="hover-underline-animation font1">Don't waste your energy trying to change
                                    opinions ... Do your thing, and don't care if they like it.
                                </h4>
                            </a>
                            <div class=" post-meta  font1">
                                <img src="/public/clock-solid.svg" alt="" srcset="">
                                <span>5 min</span>
                            </div>
                        </div>
                    </div>
                    <div class="blog_feature_post flex">
                        <img src="/public/blog_post10.jpg" class="blog_feature_img" alt="" srcset="">
                        <div class="feature_post_content">
                            <a>
                                <h4 class="hover-underline-animation font1">Confidence and Hard-work is the best
                                    medicine to kill the disease called failure
                                </h4>
                            </a>
                            <div class=" post-meta  font1">
                                <img src="/public/clock-solid.svg" alt="" srcset="">
                                <span>4 min</span>
                            </div>
                        </div>
                    </div>

                </div>

                <h2 class="font1">Tags</h2>
                <div class="blog_tags font1 flex">
                    <div class="taglist flex" data-tag>
                        <a href="">
                            <span id="tag1" class="tag-accent"></span>
                            Anxiety
                        </a>
                    </div>
                    <div class="taglist flex">
                        <a href="">
                            <span id="tag2" class="tag-accent"></span>
                            Depression
                        </a>
                    </div>
                    <div class="taglist flex">
                        <a href="">
                            <span id="tag3" class="tag-accent"></span>
                            Self-Care
                        </a>
                    </div>
                    <div class="taglist flex">
                        <a href="">
                            <span id="tag4" class="tag-accent"></span>
                            Mindfulness
                        </a>
                    </div>
                    <div class="taglist flex">
                        <a href="">
                            <span id="tag5" class="tag-accent"></span>
                            Positive Psychology
                        </a>
                    </div>
                    <div class="taglist flex">
                        <a href="">
                            <span id="tag6" class="tag-accent"></span>
                            Relationships and Communication
                        </a>
                    </div>
                    <div class="taglist flex">
                        <a href="">
                            <span id="tag7" class="tag-accent"></span>
                            Inspirational Stories
                        </a>
                    </div>
                    <div class="taglist flex">
                        <a href="">
                            <span id="tag8" class="tag-accent"></span>
                            Mental Health Awareness
                        </a>
                    </div>
                </div>

                <div class="latest_post flex">
                    <h2 class="font1">Latest Posts</h2>
                    <div class="blog_feature_post flex ">
                        <img src="/public/blog_post8.jpg" class="blog_feature_img" alt="" srcset="">
                        <div class="feature_post_content">
                            <a>
                                <h4 class="hover-underline-animation font1">The future belongs to those who believe in
                                    the beauty of their dreams.
                                </h4>
                            </a>
                            <div class=" post-meta  font1">
                                <img src="/public/clock-solid.svg" alt="" srcset="">
                                <span>3 min</span>
                            </div>
                        </div>
                    </div>
                    <div class="blog_feature_post flex">
                        <img src="/public/bg_header.jpg" class="blog_feature_img" alt="" srcset="">
                        <div class="feature_post_content">
                            <a>
                                <h4 class="hover-underline-animation font1">I don't want to be at the mercy of my
                                    emotions. I want to use them, to enjoy them, and to dominate them.
                                </h4>
                            </a>
                            <div class=" post-meta  font1">
                                <img src="/public/clock-solid.svg" alt="" srcset="">
                                <span>5 min</span>
                            </div>
                        </div>
                    </div>
                    <div class="blog_feature_post flex">
                        <img src="/public/bg.jpg" class="blog_feature_img" alt="" srcset="">
                        <div class="feature_post_content">
                            <a>
                                <h4 class="hover-underline-animation font1">I never dreamed about success. I worked for
                                    it.
                                </h4>
                            </a>
                            <div class=" post-meta  font1">
                                <img src="/public/clock-solid.svg" alt="" srcset="">
                                <span>4 min</span>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="newsletter flex">
                    <h2 class="heading">Newsletter</h2>
                    <h3 class="font1">Get the latest posts delivered straight to your inbox.</h3>
                    <form action="" class="newsletter_form font1 flex">
                        <input type="text" name="user_name" placeholder="Enter your name ">
                        <input type="email" name="user_email" placeholder="Enter your email Id ">
                        <button class="btns">Submit</button>
                    </form>
                </div>
                <div class="follow_us">
                    <h2 class="font1">Follow Us</h2>
                    <div class="social_media_icon">
                        <a href="https://www.facebook.com/" target="_blank"><img src="/public/icons8-facebook.svg" alt="" srcset=""></a>
                        <a href="https://www.instagram.com/ " target="_blank"><img src="/public/icons8-instagram.svg" alt="" srcset=""></a>
                        <a href="https://in.pinterest.com/" target="_blank"><img src="/public/icons8-pinterest.svg" alt="" srcset=""></a>
                        <a href="https://twitter.com/?lang=en" target="_blank"><img id="twitter" src="/public/logo-white.png" alt="" srcset=""></a>
                        <a href="https://in.linkedin.com/" target="_blank"><img  src="/public/icons8-linkedin.svg" alt="" srcset=""></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="blog_footer flex">
            <div class="blog_footer1 footer">
                <div class="footer_newsletter">
                    <h2 class="font1">Newsletter</h2>
                    <h4 class="font1">Get the latest posts delivered straight to your inbox.</h4>
                    <form action="" class="newsletter_form font1 flex">
                        <div class="form flex">
                            <input data-members-email="" type="email" id="email" placeholder="Enter Your email address" required="" autocomplete="off">
                            <button class="btns" type="submit"><span>Subscribe</span></button>
                        </div>
                        <!-- <div class="message-container">
                            <div class="notification success form-notification">
                                <a class="notification-close" href="javascript:;" aria-label="close notification"><span class="close-icon"><svg><use xlink:href="#i-close"></use></svg></span></a>
                                <strong>Great!</strong> Check your inbox and click the link to confirm your subscription.
                            </div>
                            <div class="notification error form-notification">
                                <a class="notification-close" href="javascript:;" aria-label="close notification"><span class="close-icon"><svg><use xlink:href="#i-close"></use></svg></span></a>
                                <strong>Error!</strong> Please enter a valid email address!
                            </div>
                        </div> -->
                    </form>
                </div>
                <div class="footer_follow">
                    <h2 class="font1">Follow Us</h2>
                    <div class="social_media_icon">
                        <a href="https://www.facebook.com/" target="_blank"><img src="/public/icons8-facebook.svg" alt="" srcset=""></a>
                        <a href="https://www.instagram.com/ " target="_blank"><img src="/public/icons8-instagram.svg" alt="" srcset=""></a>
                        <a href="https://in.pinterest.com/" target="_blank"><img src="/public/icons8-pinterest.svg" alt="" srcset=""></a>
                        <a href="https://twitter.com/?lang=en" target="_blank"><img id="twitter" src="/public/logo-white.png" alt="" srcset=""></a>
                        <a href="https://in.linkedin.com/" target="_blank"><img  src="/public/icons8-linkedin.svg" alt="" srcset=""></a>
                    </div>
                </div>
            </div>
            <div class="blog_footer2 footer flexbox-y">
                <h2 class="font1">Latest Posts</h2>
                <div class="latest_post flex">
                    <div class="blog_feature_post flex ">
                        <img src="/public/blog_post8.jpg" class="blog_feature_img" alt="" srcset="">
                        <div class="feature_post_content">
                            <a>
                                <h4 class="hover-underline-animation font1">The future belongs to those who believe in
                                    the beauty of their dreams.
                                </h4>
                            </a>
                            <div class=" post-meta  font1">
                                <img src="/public/clock-solid.svg" alt="" srcset="">
                                <span>3 min</span>
                            </div>
                        </div>
                    </div>
                    <div class="blog_feature_post flex">
                        <img src="/public/bg_header.jpg" class="blog_feature_img" alt="" srcset="">
                        <div class="feature_post_content">
                            <a>
                                <h4 class="hover-underline-animation font1">I don't want to be at the mercy of my
                                    emotions. I want to use them, to enjoy them, and to dominate them.
                                </h4>
                            </a>
                            <div class=" post-meta  font1">
                                <img src="/public/clock-solid.svg" alt="" srcset="">
                                <span>5 min</span>
                            </div>
                        </div>
                    </div>
                    <div class="blog_feature_post flex">
                        <img src="/public/bg.jpg" class="blog_feature_img" alt="" srcset="">
                        <div class="feature_post_content">
                            <a>
                                <h4 class="hover-underline-animation font1">I never dreamed about success. I worked for
                                    it.
                                </h4>
                            </a>
                            <div class=" post-meta  font1">
                                <img src="/public/clock-solid.svg" alt="" srcset="">
                                <span>4 min</span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="blog_footer3 footer">
                <h2 class="font1">Tags</h2><br>
                <div class="blog_tags font1 ">
                    <div class="taglist flex" data-tag>
                        <a href="">
                            <span id="tag1" class="tag-accent"></span>
                            Anxiety
                        </a>
                    </div>
                    <div class="taglist flex">
                        <a href="">
                            <span id="tag2" class="tag-accent"></span>
                            Depression
                        </a>
                    </div>
                    <div class="taglist flex">
                        <a href="">
                            <span id="tag3" class="tag-accent"></span>
                            Self-Care
                        </a>
                    </div>
                    <div class="taglist flex">
                        <a href="">
                            <span id="tag4" class="tag-accent"></span>
                            Mindfulness
                        </a>
                    </div>
                    <div class="taglist flex">
                        <a href="">
                            <span id="tag5" class="tag-accent"></span>
                            Positive Psychology
                        </a>
                    </div>
                    <div class="taglist flex">
                        <a href="">
                            <span id="tag6" class="tag-accent"></span>
                            Relationships and Communication
                        </a>
                    </div>
                    <div class="taglist flex">
                        <a href="">
                            <span id="tag7" class="tag-accent"></span>
                            Inspirational Stories
                        </a>
                    </div>
                    <div class="taglist flex">
                        <a href="">
                            <span id="tag8" class="tag-accent"></span>
                            Mental Health Awareness
                        </a>
                    </div>
                </div>
                <div class="blog_footer_terms">
                    <p class="font1 hover-underline-animation"><a>Privacy Policy</a></p>
                    <p class="font1 hover-underline-animation"><a>Terms and Condition</a></p>
                    <p class="font1 hover-underline-animation"><a>Contact</a></p>
                </div>
            </div>
        </div>
        <div id="blog_copyright" class="font1">
            <p id="copyright">&#169 2023 SmilePlease - All right Reserved. Proudly Published with Ghost</p>
             <button id="back-to-top_btns">&#8593 BacktoTop</button>
        </div>
    </div>
    <!-- </div> -->

</body>

</html>