<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smile_Please</title>
    <link rel="stylesheet" href="/css/blog_show_light.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/util.css">
    <link rel="stylesheet" href="/css/blog_style.css">
    <link rel="stylesheet" href="/css/faltu.css">
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
    <nav>
        <div class="navbar">
            <div class="logo">
                <img src="public/logo.png" alt="" srcset="">
                <div class="captain">
                    <h2>Smile Please</h2>
                    <h6 class="yellow_font">Mental Health and theraphy</h6>
                </div>
            </div>
            <div class="nav_items flexbox-around">
                <ul class="flex">
                    <li><a href="#">Home</a></li>
                    <li><a href="#"> About</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="/Mentoring/mentor-homepage">Mentorship</a></li>
                    <li><a href="/views/Blog/blog.html" target="_blank">Blog</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
                <ul class="flex">
                    <li><a href="/views/LoginForm/login.html">Login</a></li>
                    <li><a href="/views/LoginForm/register.html">Register</a></li>
                </ul>
            </div>
            <!-- <div class="contact">
                <img src="/public/call_icon.png" alt="">
                <h4 class="yellow_font">+123-234-1234</h4>
            </div> -->
        </div>
    </nav>
    <div class="main_body">
        <!-- BANNER START  -->
        <div class="banner_cont">
            <div class="main_container flexbox-y font1">
                <h3 class="heading txt-outline gold">Welcome To Healing centered</h3>
                <h1 class="heading txt-outline">You Deserve Peace & Freedom</h1>
                <h4>Promise me you'll always remember: You're braver than you believe, and stronger than you seem, and
                    smarter than you think
                    <p class="yellow_font">“It's ok not to be okay, but it's not okay to stay that way.”</p>
                </h4>
            </div>
            <div class="banner-button flex">
                <button class="org_btns style_box btns1 org_col flex">Book Online Session<div
                        class="btns_img_cnt black_cont"><img src="/public/icons8-finger.svg" alt="" srcset=""></div>
                </button>
                <button class="wht_btns style_box btns1 wht_col flex">Services<div class="btns_img_cnt black_cont "><img
                            src="/public/icons8-setting.svg" alt="" srcset=""></div></button>
            </div>
        </div>
        <!-- BANNER END -->
        <!-- FEATURE AREA START -->
        <div class="feature_area  flexbox-y">
            <div class="feature_title flexbox-y">
                <h2 class=" heading_max">What <span class="heading_lite">Services</span> We Provide</h2>
                <p class="font1 centered line-height">When your thoughts get vicious, venting them out is always better.
                    Taking care of your mental health is taking care of yourself.
                    Stay optimistic and push your negative thoughts out.</p>
            </div>
            <div class="feature_cont top-bottom_margin2 flex">
                <div class="feature_box img_box wht_col" id="feature-1">
                    <img src="/public/feature1.0.webp" class="pad_btm-1" alt="" srcset="">
                    <hr class="line">
                    <h5 class="normal-heading heading_lite">Teens Consultation</h5>
                </div>
                <div class="feature_box img_box wht_col" id="feature-2">
                    <img src="/public/feature2.0.jpg" class="pad_btm-1" alt="" srcset="">
                    <hr class="line">
                    <h5 class="normal-heading heading_lite">Family Consultation</h5>
                </div>
                <div class="feature_box img_box wht_col" id="feature-3">
                    <img src="/public/feature3.0.jpg" class="pad_btm-1" alt="" srcset="">
                    <hr class="line">
                    <h5 class="normal-heading heading_lite">One to One Consultation</h5>
                </div>
                <div class="feature_box img_box wht_col" id="feature-4">
                    <img src="/public/feature4.0.jpg" class="pad_btm-1" alt="" srcset="">
                    <hr class="line">
                    <h5 class="normal-heading heading_lite">Work Issue Consultation</h5>
                </div>
            </div>
            <!-- FEATURE DESCRIPTION START  -->
            <div class="slider-container slider-carousel pad-1 flexbox-y">
                <div class="slider  flex">
                    <div class=" slides  flex" data-active="true">
                        <div class="feature_descr_cnt flex">
                            <img src="/public/feature1.1.jpg" class="shadow_effect1 " alt="">
                            <div class="feature_descr pad-1">
                                <h1 class="heading shadow_effect1" id="feature_heading">Teens</h1>
                                <p class="font1 line-height pad_btm-1 pad-1">Teen Innovators leverages near peer mentoring with
                                    high-achieving older teens as mentors for curious young teens. Their mentors are
                                    vetted and trained to provide empathy and guidance.
                                    The mentors gain valuable experience mentoring and giving back to the next
                                    generation of innovators. They undergo a dedicated training program and additional
                                    training opportunities coordinated by certified teachers.
                                </p>
                                <p class="font1 line-height pad_btm-1 pad-1">
                                    The mentors at Teen Innovators range from ages 16 to 22 and come from a variety of
                                    backgrounds. They are passionate about helping younger teens grow and innovate.
                                </p>
                                <div class="philosophy-quote">
                                    <p class="pad-1 tr-bg">
                                        <span class="quote">&#8220; </span>
                                        Love yourself first and everything else falls into line. You really have to love
                                        yourself to get anything done in this world.
                                        <span class="quote">&#8221;</span>
                                    </p>
                                </div>
                                <div class="banner-button flex">
                                    <button class="org_btns style_box btns1 org_col flex">Book Online Session<div
                                            class="btns_img_cnt black_cont style_box"><span class="wht">&plus;</span>
                                        </div></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class=" slides  flex" data-active="true">
                        <div class="feature_descr_cnt flex">
                            <img src="/public/feature2.1.jpg" class="shadow_effect1" alt="">
                            <div class="feature_descr pad-1">
                                <h1 class="heading shadow_effect1" id="feature_heading">Family Consultation</h1>
                                <p class="font1 line-height pad_btm-1 pad-1">
                                    Family is the strongest foundation of our existence. But the journey is not so easy
                                    all the time. Problems like arguments, disagreements, violence, jealousy, can come
                                    between its members, but there are also plenty of ways to handle those issues.
                                </p>
                                <p class="font1 line-height pad_btm-1 pad-1">The most precious gift you will ever have in life,
                                    these family quotes and sayings will remind you of those special beings you’re bound
                                    together with.
                                </p>
                                <div class="philosophy-quote">
                                    <p class="pad-1 tr-bg">
                                        <span class="quote">&#8220; </span>
                                        The most important thing in the world is family and love
                                        <span class="quote">&#8221;</span>
                                    </p>
                                </div>
                                <div class="banner-button flex">
                                    <button class="org_btns style_box btns1 org_col flex">Book Online Session<div
                                            class="btns_img_cnt black_cont style_box"><span class="wht">&plus;</span>
                                        </div></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class=" slides  flex">
                        <div class="feature_descr_cnt flex">
                            <img src="/public/feature3.1.jpg" class="shadow_effect1" alt="">
                            <div class="feature_descr pad-1">
                                <h1 class="heading shadow_effect1" id="feature_heading">Consultation</h1>
                                <p class="font1 line-height pad_btm-1 pad-1">Personal problems appear big because we press our
                                    nose to the glass to observe them. This only serves to magnify our troubles. The
                                    problems of others we tend to view at a reasonable distance from the window, making
                                    their woes and bothers appear ordinary. Too bad we don't naturally take a few steps
                                    back before considering our own plight
                                </p>
                                <p class="font1 line-height pad_btm-1 pad-1">
                                    Control yourself in this situation, have faith in yourself that you will be able to
                                    find a solution to it. Whenever someone faces a problem, either he solves it
                                    himself, or he takes the help of someone else. But when a person solves it himself,
                                    he is not afraid of any other problem in his life.
                                </p>
                                <div class="philosophy-quote">
                                    <p class="pad-1 tr-bg">
                                        <span class="quote">&#8220; </span>
                                        There is always a solution to every challenging situation.
                                        <span class="quote">&#8221;</span>
                                    </p>
                                </div>
                                <div class="banner-button flex">
                                    <button class="org_btns style_box btns1 org_col flex">Book Online Session<div
                                            class="btns_img_cnt black_cont style_box"><span class="wht">&plus;</span>
                                        </div></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class=" slides  flex">
                        <div class="feature_descr_cnt flex">
                            <img src="/public/feature4.png" class="shadow_effect1" alt="">
                            <div class="feature_descr pad-1">
                                <h1 class="heading shadow_effect1" id="feature_heading">Work issue</h1>
                                <p class="font1 line-height pad_btm-1 pad-1">Leadership challenges in the workplace are a part
                                    of the business. There are always going to be new workplace issues, but the
                                    important thing is that you can work through them in a logical, timely way..
                                </p>
                                <p class="font1 line-height pad_btm-1 pad-1">
                                    These are some of the most common workplace challenges and solutions. As you can
                                    see, they’re very solvable. Often, the key is communication, and with the right
                                    technology, you can normally find a simple solution.
                                </p>
                                <div class="philosophy-quote">
                                    <p class="pad-1 tr-bg">
                                        <span class="quote">&#8220; </span>
                                        You've got to think about the big things while you're doing the small things so
                                        that all the small things go in the right direction.
                                        <span class="quote">&#8221;</span>
                                    </p>
                                </div>
                                <div class="banner-button flex">
                                    <button class="org_btns style_box btns1 org_col flex">Book Online Session<div
                                            class="btns_img_cnt black_cont style_box"><span class="wht">&plus;</span>
                                        </div></button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="slider-controls" data-banner-sliderbtns>
                    <button class="prev-button btns1 org_btns org_col style_box pad-1"
                        data-banner-sliderbtns="prev">Previous</button>
                    <button class="next-button btns1 wht_btns wht_col style_box pad-1"
                        data-banner-sliderbtns="next">Next</button>
                </div>
            </div>
        </div>
        <!-- FEATURE AREA END -->
        <!-- TESTIMONIAL START  -->
        <div class="testimonial flex ">
            <div class="wrapper ">
                <i id="left" class="fa-solid fa-angle-left wrpr-arrow"></i>
                <ul class="carousel">
                    <li class="card flexbox-y">
                        <div class="img flex  "><img src="/public/author1.jpg" alt="img" draggable="false"></div>
                        <h2 class="font1">Blanche Pearson</h2>
                        <span class="font1">Sales Manager</span>
                        <p class="font1 pad-1 centered">Outstanding service! The team went above and beyond to meet our
                            needs. Highly recommended</p>
                    </li>
                    <li class="card flexbox-y ">
                        <div class="img flex"><img src="/public/author2.jpeg" alt="img" draggable="false"></div>
                        <h2 class="font1 pad_btm-1">Joenas Brauers</h2>
                        <span class="font1 ">Web Developer</span>
                        <p class="font1 pad-1 centered">Exceptional quality and attention to detail. This company sets a new
                            standard in professionalism</p>
                    </li>
                    <li class="card flexbox-y">
                        <div class="img flex "><img src="/public/author3.jpg" alt="img" draggable="false"></div>
                        <h2 class="font1 pad_btm-1">Lariach French</h2>
                        <span class="font1  ">Online Teacher</span>
                        <p class="font1 pad-1 centered">I've never had a better experience. Their expertise and dedication
                            are truly remarkable</p>
                    </li>
                    <li class="card flexbox-y">
                        <div class="img flex "><img src="/public/author1.jpg" alt="img" draggable="false"></div>
                        <h2 class="font1 pad_btm-1">James Khosravi</h2>
                        <span class="font1">Freelancer</span>
                        <p class="font1 pad-1 centered">Absolutely delighted with the results. The work exceeded my
                            expectations</p>
                    </li>
                    <li class="card flexbox-y">
                        <div class="img flex "><img src="/public/author2.jpeg" alt="img" draggable="false"></div>
                        <h2 class="font1 pad_btm-1">Kristina Zasiadko</h2>
                        <span class="font1 ">Bank Manager</span>
                        <p class="font1 pad-1 centered">A pleasure to work with. They made the process easy and stress-free
                        </p>
                    </li>
                    <li class="card flexbox-y">
                        <div class="img flex "><img src="/public/author3.jpg" alt="img" draggable="false"></div>
                        <h2 class="font1 pad_btm-1">Donald Horton</h2>
                        <span class="font1">App Designer</span>
                        <p class="font1 pad-1 centered">Top-notch service that consistently delivers outstanding results.
                            I'm a loyal customer for life!</p>
                    </li>
                </ul>
                <i id="right" class="fa-solid fa-angle-right wrpr-arrow"></i>
            </div>
        </div>
        <!-- REASON TO CHOOSE US START  -->
        <div class="reason-to-choose flex">
            <div class="feature_title flexbox-y">
                <h2 class=" heading_max">Some <span class="heading_lite">Reasons</span> To Choose Us</h2>
                <p class="font1 centered line-height pad-1 pad_btm-1">Choose us for your mental health journey because we
                    prioritize your well-being with compassionate care and evidence-based solutions.We offer a wide
                    range of resources, from articles and self-help tools to online therapy options.</p>
                <div class="container flex top-bottom_margin2">
                    <div class="box pad-1 shadow_effect1 flexbox-y org_col style_box">
                        <div class="head flex">
                            <div class="style_box1 wht_col pad-1">
                                <img src="/public/reason1.svg" class="style_box1 icon" alt="" srcset="">
                            </div>
                            <div class="title pad-1">
                                <h3 class="normal-heading font1 pad_btm-1 hover-underline-animation1">Psychology Therapy</h3>
                                <p class="font1 heading_lite">For Every Kind Of Mental Stress</p>
                            </div>
                        </div>
                        <div class="content pad-1  font1  line-height">
                            Our experienced therapists are here to provide support and tailored strategies to help you
                            overcome life's challenges and find lasting peace.
                        </div>
                    </div>
                    <div class="box pad-1 shadow_effect1 flexbox-y org_col style_box">
                        <div class="head flex">
                            <div class="style_box1 wht_col pad-1">
                                <img src="/public/reason2.svg" class="style_box1 icon" alt="" srcset="">
                            </div>
                            <div class="title pad-1">
                                <h3 class="normal-heading font1 pad_btm-1 hover-underline-animation1">Restoring Confidence
                                </h3>
                                <p class="font1 heading_lite">At Every Situation</p>
                            </div>
                        </div>
                        <div class="content pad-1  font1  line-height">
                            In every situation, we strive to be the beacon that restores your confidence, reminding you
                            of your strength and resilience
                        </div>
                    </div>
                    <div class="box pad-1 shadow_effect1 flexbox-y org_col style_box">
                        <div class="head flex">
                            <div class="style_box1 wht_col pad-1">
                                <img src="/public/reason3.svg" class="style_box1 icon" alt="" srcset="">
                            </div>
                            <div class="title pad-1">
                                <h3 class="normal-heading font1 pad_btm-1 hover-underline-animation1">Work Improvements</h3>
                                <p class="font1 heading_lite">In A Continuous Process</p>
                            </div>
                        </div>
                        <div class="content pad-1  font1  line-height">
                            In a continuous process of work improvement, innovation becomes the heartbeat of progress
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- REASON TO CHOOSE US END -->
        
        <!-- TESTIMONIAL END  -->
        <!-- BLOG POSTS  -->
        <%- include('blog_show.ejs') %>
        <!-- FAQ START  -->
        <div class="faq-cont">
            <div class="feature_title flexbox-y">
                <h2 class=" heading_max">Some <span class="heading_lite">Reasons</span> To Choose Us</h2>
                <p class="font1 centered line-height pad-1 pad_btm-1">Choose us for your mental health journey because we
                    prioritize your well-being with compassionate care and evidence-based solutions.We offer a wide
                    range of resources, from articles and self-help tools to online therapy options.</p>
            </div>
            <div class="flex pad-1">
                <div class="faq-items flexbox-y">
                    <h1 class="normal-heading">Frequently Asked Questions?</h1>
                    <div class="tab shadow_effect1 pad-1">
                        <input type="radio" name="acc" id="acc1">
                        <label for="acc1" class="flex">
                            <h2 class="flex font1 pad-1">01</h2>
                            <h3 class="font1">How To Appoint Online?</h3>
                        </label>
                        <div class="faq-content font1 pad-1">
                            <p>Appointing online is as simple as scheduling a virtual meeting or filling out a digital
                                appointment form.</p>
                        </div>
                    </div>
                    <div class="tab shadow_effect1 pad-1">
                        <input type="radio" name="acc" id="acc2">
                        <label for="acc2" class="flex">
                            <h2 class="flex font1 pad-1">02</h2>
                            <h3 class="font1">How Does Psychologist Help?</h3>
                        </label>
                        <div class="faq-content font1 pad-1">
                            <p>Psychologists help in developing mental health by providing therapeutic support,
                                strategies, and insights to improve emotional well-being, manage challenges, and promote
                                psychological resilience.</p>
                        </div>
                    </div>
                    <div class="tab shadow_effect1 pad-1">
                        <input type="radio" name="acc" id="acc3">
                        <label for="acc3" class="flex">
                            <h2 class="flex font1 pad-1">03</h2>
                            <h3 class="font1">How It Helps?</h3>
                        </label>
                        <div class="faq-content font1 pad-1">
                            <p>"It provides accessible and confidential support, resources, and guidance for individuals
                                seeking to improve their mental well-being."</p>
                        </div>
                    </div>
                    <div class="tab shadow_effect1 pad-1">
                        <input type="radio" name="acc" id="acc4">
                        <label for="acc4" class="flex">
                            <h2 class="flex font1 pad-1">04</h2>
                            <h3 class="font1">How To Consult With A Psychologist?</h3>
                        </label>
                        <div class="faq-content font1 pad-1">
                            <p>To consult with a psychologist, simply reach out to a licensed professional, either in
                                person or through teletherapy, to schedule an appointment and start your mental health
                                journey.</p>
                        </div>
                    </div>
                </div>
                <div class="faq-img style_box1 pad-1">
                    <img src="/public/author3.jpg" class=" shadow_effect1" alt="" srcset="">
                </div>
            </div>
        </div>
        <!-- PROJECT COUNTER START -->
        <div class="project-counter-wrp" id="project-counter-wrp">
            <ul class=" pad-1">
                <li class="pad-1 style_box1 flexbox-y shadow_effect1">
                    <i class="fa fa-trophy pad-1"></i>
                    <h1 class="heading centered" id="number1">25</h1>
                    <span class="heading centered">Years</span>
                    <span class="heading_lite">Experience</span>
                </li>
                <li class="pad-1 style_box1 flexbox-y shadow_effect1">
                    <i class="fas fa-child pad-1"></i>
                    <h1 class="heading centered" id="number2">100</h1>
                    <span class="heading centered">Happy</span>

                    <span class="heading_lite">Clients</span>
                </li>
                <li class="pad-1 style_box1 flexbox-y shadow_effect1">
                    <i class="fa fa-user pad-1"></i>
                    <h1 class="heading centered" id="number3">50</h1>
                    <span class="heading centered">Best</span>
                    <span class="heading_lite">Consultant</span>
                </li>
                <li class="pad-1 style_box1 flexbox-y shadow_effect1">
                    <i class="fas fa-award pad-1 "></i>
                    <h1 class="heading centered" id="number4">23</h1>
                    <span class="heading centered">Winning</span>
                    <span class="heading_lite">Awards</span>
                </li>
            </ul>
        </div>
        <!-- COUNTER END  -->
        <div class="blog_footer-white flex">
            <div class="blog_footer1 footer">
                <div class="footer_newsletter">
                    <h2 class="font1">Newsletter</h2>
                    <h4 class="font1">Get the latest posts delivered straight to your inbox.</h4>
                    <form action="" class="newsletter_form font1 flex">
                        <div class="form flex">
                            <input data-members-email="" type="email" id="email" placeholder="Enter Your email address"
                                required="" autocomplete="off">
                            <button class="btns" type="submit"><span>Subscribe</span></button>
                        </div>
                        <!-- <div class="message-container">
                            <div class="notification success form-notification">
                                <a class="notification-close" href="javascript:;" aria-label="close notification"><span class="close-icon"><svg><use xlink:href="#i-close"></use></svg></span></a>
                                <strong>Great!</strong> Check your inbox and click the link to confirm your subscription.
                            </div>
                            <div class="notification error form-notification">
                                <a class="notification-close" href="javascript:;" aria-label="close notification"><span class="close-icon"><svg><use xlink:href="#i-close"></use></svg></span></a>
                                <strong>Error!</strong> Please enter a valid email address!
                            </div>
                        </div> -->
                    </form>
                </div>
                <div class="footer_follow">
                    <h2 class="font1">Follow Us</h2>
                    <div class="social_media_icon">
                        <a href="https://www.facebook.com/" target="_blank"><img src="/public/icons8-facebook.svg"
                                alt="" srcset=""></a>
                        <a href="https://www.instagram.com/ " target="_blank"><img src="/public/icons8-instagram.svg"
                                alt="" srcset=""></a>
                        <a href="https://in.pinterest.com/" target="_blank"><img src="/public/icons8-pinterest.svg"
                                alt="" srcset=""></a>
                        <a href="https://twitter.com/?lang=en" target="_blank"><img id="twitter"
                                src="/public/reddit.png" alt="" srcset=""></a>
                        <a href="https://in.linkedin.com/" target="_blank"><img src="/public/icons8-linkedin.svg" alt=""
                                srcset=""></a>
                    </div>
                </div>
            </div>
            <div class="blog_footer2 footer flexbox-y">
                <h2 class="font1">Latest Posts</h2>
                <div class="latest_post flex">
                    <div class="blog_feature_post flex ">
                        <img src="/public/blog_post8.jpg" class="blog_feature_img" alt="" srcset="">
                        <div class="feature_post_content">
                            <a>
                                <h4 class="hover-underline-animation font1">The future belongs to those who believe in
                                    the beauty of their dreams.
                                </h4>
                            </a>
                            <div class=" post-meta  font1">
                                <img src="/public/clock-solid.svg" alt="" srcset="">
                                <span>3 min</span>
                            </div>
                        </div>
                    </div>
                    <div class="blog_feature_post flex">
                        <img src="/public/bg_header.jpg" class="blog_feature_img" alt="" srcset="">
                        <div class="feature_post_content">
                            <a>
                                <h4 class="hover-underline-animation font1">I don't want to be at the mercy of my
                                    emotions. I want to use them, to enjoy them, and to dominate them.
                                </h4>
                            </a>
                            <div class=" post-meta  font1">
                                <img src="/public/clock-solid.svg" alt="" srcset="">
                                <span>5 min</span>
                            </div>
                        </div>
                    </div>
                    <div class="blog_feature_post flex">
                        <img src="/public/bg.jpg" class="blog_feature_img" alt="" srcset="">
                        <div class="feature_post_content">
                            <a>
                                <h4 class="hover-underline-animation font1">I never dreamed about success. I worked for
                                    it.
                                </h4>
                            </a>
                            <div class=" post-meta  font1">
                                <img src="/public/clock-solid.svg" alt="" srcset="">
                                <span>4 min</span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="blog_footer3 footer">
                <h2 class="font1">Tags</h2><br>
                <div class="blog_tags font1 ">
                    <div class="taglist flex" data-tag>
                        <a href="">
                            <span id="tag1" class="tag-accent"></span>
                            Anxiety
                        </a>
                    </div>
                    <div class="taglist flex">
                        <a href="">
                            <span id="tag2" class="tag-accent"></span>
                            Depression
                        </a>
                    </div>
                    <div class="taglist flex">
                        <a href="">
                            <span id="tag3" class="tag-accent"></span>
                            Self-Care
                        </a>
                    </div>
                    <div class="taglist flex">
                        <a href="">
                            <span id="tag4" class="tag-accent"></span>
                            Mindfulness
                        </a>
                    </div>
                    <div class="taglist flex">
                        <a href="">
                            <span id="tag5" class="tag-accent"></span>
                            Positive Psychology
                        </a>
                    </div>
                    <div class="taglist flex">
                        <a href="">
                            <span id="tag6" class="tag-accent"></span>
                            Relationships and Communication
                        </a>
                    </div>
                    <div class="taglist flex">
                        <a href="">
                            <span id="tag7" class="tag-accent"></span>
                            Inspirational Stories
                        </a>
                    </div>
                    <div class="taglist flex">
                        <a href="">
                            <span id="tag8" class="tag-accent"></span>
                            Mental Health Awareness
                        </a>
                    </div>
                </div>
                <div class="blog_footer_terms">
                    <p class="font1 hover-underline-animation"><a>Privacy Policy</a></p>
                    <p class="font1 hover-underline-animation"><a>Terms and Condition</a></p>
                    <p class="font1 hover-underline-animation"><a>Contact</a></p>
                </div>
            </div>
        </div>
        <div id="blog-copyright-white" class="font1 flex pad-1">
            <p id="copyright">&#169 2023 SmilePlease - All right Reserved. Proudly Published with Ghost</p>
            <button id="back-to-top_btns">&#8593 BacktoTop</button>
        </div>
    </div>
    <script src="/js/slider.js" defer></script>
    <script src="/js/script1.js" defer></script>
    <script src="/js/testimonial.js" defer></script>
</body>

</html>