<%- include('../layouts/admin-header.ejs') %>
    <div id="content" class="p-4 p-md-5 pt-5">
        <h2>Settings</h2>
        <div class="container">
            <form id="setting-form">
                <input type="text" name="limit" placeholder="Post Limit" value="<%= limit  %>" class="mb-3 w-100">
                <input type="submit" class="btn btn-info">
            </form>
            <p class="result" style="color: green;"></p>
        </div>
    </div>
    <script>
        $(document).ready(function() {
            $('#setting-form').submit(function(event) {
                event.preventDefault();
                var formData = $(this).serialize();
                $.ajax({
                    url: '/settings',
                    type: 'POST',
                    data: formData,
                    success: function(response) {
                        $('.result').text(response.msg);
                    }
                })
            });
        })
    </script>
    <%- include('../layouts/admin-footer.ejs') %>