<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog-content</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/blog_style.css">
    <link rel="stylesheet" href="/css/util.css">
    <link rel="stylesheet" href="/css/blog_content1.css">
</head>

<body>
    <nav>
        <div class="navbar">
            <div class="logo">
                <img src="/public/logo.png" alt="" srcset="">
                <div class="captain">
                    <h2>Smile Please</h2>
                    <h6 class="yellow_font">Mental Health and theraphy</h6>
                </div>
            </div>
            <div class="nav_items">
                <ul>
                    <li><a href="#">Feature</a></li>
                    <li><a href="#">Style Guide</a></li>
                    <li><a href="#">Tags</a></li>
                    <li><a href="#">Author</a></li>
                    <li><a href="#">More</a></li>
                    <button id="search" class="nav-btns"><img id="mode" src="/public/icons8-search-50.png" alt=""
                            srcset=""></button>
                    <button id="day_mode" class="nav-btns"><img id="mode" src="/public/pngwing.com.png" alt=""
                            srcset=""></button>
                    <li><a href="#">SignUp</a></li>
                    <button class="btns" id="Member">Become Member</button>
                </ul>
            </div>
        </div>
    </nav>
    <div class="blog_page flexbox-y">
        <div class="blog_content1_cont">
            <div class="blog_content_left">
                <div class="single_post_card shadow_effect top-bottom_margin2 black_cont">
                    <div class="single_post_img">
                        <img src="/public/blog_post2.jpg" alt="" srcset="">
                    </div>
                    <div class="single-post-header">
                        <div class="taglist flex">
                            <a href="">
                                <span class="tag-accent"></span>
                                Mind
                            </a>
                        </div>
                        <h1 class="hover-underline-animation heading">Change allows you to try new things and
                            learn from your mistakes.</h1>
                        <div class="blog1_meta-data">
                            <div class=" post-meta  font1">
                                <img src="/public/person-svg.svg" alt="" srcset="">
                                <span class="hover-underline-animation"><a>Anushka Chopra</a></span>
                                <img src="/public/calendar-alt-solid.svg" alt="" srcset="">
                                <span>21 June , 2022</span>
                                <img src="/public/clock-solid.svg" alt="" srcset="">
                                <span>5 min</span>
                            </div>
                        </div>
                    </div>
                    <div class="single_post_content">
                        <p class="top-bottom_margin2 font1 line-height">
                            We all make mistakes and there is no shame in that. What matters is how you react to them. If
                            you accept that change is a part of life and embrace it, you are more likely to try new things.
                            This will allow you to experiment and learn from your mistakes. When you make a mistake, you’re
                            still growing. You’re just learning through a different method.
                        </p>
                        <p class="top-bottom_margin2 font1 line-height">
                            Mistakes aren’t wrong. They are simply opportunities to do better and improve. This can help you
                            become more efficient in your daily tasks and improve in the long run.
                        </p>
                        <div class="blockquote top-bottom_margin4 flex">
                            <span class="clr-quote"></span>
                            <h3 class="normal-heading font1"> “Without mistakes, I could forget that I am still a human
                                being.”</h3>
                        </div>
                        <p class="top-bottom_margin2 font1 line-height">
                            Mistakes are an essential part of the human experience. They remind us that we are fallible, and
                            that we are always learning and growing. If we never made mistakes, we might start to think of
                            ourselves as perfect, which would be a dangerous delusion.
                            Mistakes can be humbling, but they can also be valuable opportunities for growth. When we make a
                            mistake, we have the chance to reflect on what went wrong and how we can do better next time. We
                            can also learn from the mistakes of others, and avoid making the same ones ourselves.
                        </p>
                        <div class="single_post_img">
                            <img src="/public/bg2.jpg" alt="" srcset="">
                        </div>
                        <p class="top-bottom_margin2 font1 line-height">
                            In short, mistakes help us to stay grounded in reality and to remember that we are human. They
                            are also a necessary part of the learning process. Without mistakes, we would never be able to
                            reach our full potential.
                            Here are some examples of how mistakes can help us to learn and grow:
                        <ul class="font1 line-height">
                            <li>If we make a mistake at work, we can learn from it and improve our performance in the
                                future.</li>
                            <li>If we make a mistake in our relationships, we can learn from it and become better
                                communicators and partners.</li>
                            <li>If we make a mistake in our finances, we can learn from it and make better financial
                                decisions
                                in the future.</li>
                        </ul>
                        </p>
                        <h3 class="normal-heading font1 top-bottom_margin2">Here are some tips for coping with change:</h3>
                        <p class="top-bottom_margin2 font1 line-height">
                            Acknowledge your feelings. It is normal to feel a range of emotions when faced with change, such as fear, sadness, and uncertainty. Allow yourself to feel these emotions, but don't let them control you.
                            Talk to someone you trust. Talking to someone you trust about your feelings can help you to process them and develop a coping strategy.
                            Focus on the positive aspects of the change. Try to find something positive about the change, even if it is something small. This will help you to stay motivated and optimistic.
                            Take things slowly. Don't try to change everything all at once. Take things one step at a time and focus on making small changes.
                        </p>
                        <div class="single_post_img">
                            <img src="/public/blog_post5.jpg" alt="" srcset="">
                        </div>
                        <p class="top-bottom_margin2 font1 line-height">
                            Change is a natural part of life. It is important to remember that change is not always bad. In fact, change can be a good thing. It can help us to learn and grow, overcome challenges, and become better people. So embrace change and see what it has in store for you.
                        </p>
                    </div>
                </div>
                <div class="share shadow_effect black_cont">
                    <div class="follow_us">
                        <h2 class="font1">Share this article :</h2>
                        <div class="social_media_icon flex">
                            <a href="https://www.facebook.com/" target="_blank"><img src="/public/icons8-facebook.svg" alt="" srcset=""></a>
                            <a href="https://www.instagram.com/ " target="_blank"><img src="/public/icons8-instagram.svg" alt="" srcset=""></a>
                            <a href="https://in.pinterest.com/" target="_blank"><img src="/public/icons8-pinterest.svg" alt="" srcset=""></a>
                            <a href="https://twitter.com/?lang=en" target="_blank"><img id="twitter" src="/public/logo-white.png" alt="" srcset=""></a>
                            <a href="https://in.linkedin.com/" target="_blank"><img  src="/public/icons8-linkedin.svg" alt="" srcset=""></a>
                        </div>
                    </div>
                </div>
                <div class="blog-author shadow_effect black_cont top-bottom_margin2 flex">
                    <div class="auhtor_img">
                        <img src="/public/author2.jpeg" alt="" srcset="">
                    </div>
                    <div class="auhtor_meta-data">
                        <div class="follow_us">
                            <h2 class="font1">Aditya Sharma</h2>
                            <div class="social_media_icon flex">
                                <a href="https://www.facebook.com/" target="_blank"><img src="/public/icons8-facebook.svg" alt="" srcset=""></a>
                                <a href="https://www.instagram.com/ " target="_blank"><img src="/public/icons8-instagram.svg" alt="" srcset=""></a>
                                <a href="https://in.pinterest.com/" target="_blank"><img src="/public/icons8-pinterest.svg" alt="" srcset=""></a>
                                <a href="https://twitter.com/?lang=en" target="_blank"><img id="twitter" src="/public/logo-white.png" alt="" srcset=""></a>
                                <a href="https://in.linkedin.com/" target="_blank"><img  src="/public/icons8-linkedin.svg" alt="" srcset=""></a>
                            </div>
                            <div class="author-desc font1 line-height">
                                Aditya is back therapist by profession and writer by passion. He writes science fiction novels and short story mostly for children. He is the always smiling person.
                            </div>
                    </div>
                </div>
                </div>
                <div class="blog-author shadow_effect black_cont top-bottom_margin2 flex">
                    <div class="auhtor_img">
                        <img src="/public/author1.jpg" alt="" srcset="">
                    </div>
                    <div class="auhtor_meta-data">
                        <div class="follow_us">
                            <h2 class="font1">Anushka Chopra</h2>
                            <div class="social_media_icon flex">
                                <a href="https://www.facebook.com/" target="_blank"><img src="/public/icons8-facebook.svg" alt="" srcset=""></a>
                                <a href="https://www.instagram.com/ " target="_blank"><img src="/public/icons8-instagram.svg" alt="" srcset=""></a>
                                <a href="https://in.pinterest.com/" target="_blank"><img src="/public/icons8-pinterest.svg" alt="" srcset=""></a>
                                <a href="https://twitter.com/?lang=en" target="_blank"><img id="twitter" src="/public/logo-white.png" alt="" srcset=""></a>
                                <a href="https://in.linkedin.com/" target="_blank"><img  src="/public/icons8-linkedin.svg" alt="" srcset=""></a>
                            </div>
                            <div class="author-desc font1 line-height">
                                Harini Banerjee is award winning young blogger and content marketer. She also sings some time. Frequent traveler, cricket fan and technology enthusiast.
                            </div>
                    </div>
                </div>
                </div>
                <div class="new_prev_post top-bottom_margin2 flex">
                    <div class="new_single_post black_cont flex">
                        <div class="new_single_post_img blog_img_set">
                            <h2 class="font1">New Post</h2>
                            <img src="/public/bg2.jpg" class="blog_feature_img" alt="" srcset="">
                        </div>
                        <div class="feature_post_content">
                            <a>
                                <h3 class="hover-underline-animation font1 line-height">The future belongs to those who believe in
                                    the beauty of their dreams.
                                </h3>
                            </a>
                            <div class=" post-meta  font1">
                                <img src="/public/clock-solid.svg" alt="" srcset="">
                                <span>5 min</span>
                            </div>
                        </div>
                    </div>
                    <div class="prev_single_post black_cont flex">
                        <div class="feature_post_content">
                            <a>
                                <h3 class="hover-underline-animation font1 line-height">Don't waste your energy trying to change
                                    opinions ... Do your thing, and don't care if they like it.
                                </h3>
                            </a>
                            <div class=" post-meta  font1">
                                <img src="/public/clock-solid.svg" alt="" srcset="">
                                <span>7 min</span>
                            </div>
                        </div>
                        <div class="prev_single_post_img blog_img_set">
                            <h2 class="font1">Old Post</h2>
                            <img src="/public/blog_post9.jpg" class="blog_feature_img" alt="" srcset="">
                        </div>
                    </div>
                </div>
                <div class="related_blog black_cont  top-bottom_margin2">
                    <h2 class="font1">You might also like</h2>
                    <div class="related_blog_posts flex">
                        <div class="related_post flexbox-y blog_img_set">
                            <img src="/public/bg1.jpg" class="blog_feature_img" alt="" srcset="">
                            <div class="related_post_content">
                                <a>
                                    <h4 class="hover-underline-animation font1">Never let your memories be greater than your
                                        dreams
                                    </h4>
                                </a>
                                <div class=" post-meta  font1">
                                    <img src="/public/clock-solid.svg" alt="" srcset="">
                                    <span>5 min</span>
                                </div>
                            </div>
                        </div>
                        <div class="related_post flexbox-y blog_img_set">
                            <img src="/public/blog_post9.jpg" class="blog_feature_img" alt="" srcset="">
                            <div class="related_post_content">
                                <a>
                                    <h4 class="hover-underline-animation font1">Don't waste your energy trying to change
                                        opinions ... Do your thing, and don't care if they like it.
                                    </h4>
                                </a>
                                <div class=" post-meta  font1">
                                    <img src="/public/clock-solid.svg" alt="" srcset="">
                                    <span>5 min</span>
                                </div>
                            </div>
                        </div>
                        <div class="related_post flexbox-y blog_img_set">
                            <img src="/public/blog_post10.jpg" class="blog_feature_img" alt="" srcset="">
                            <div class="related_post_content">
                                <a>
                                    <h4 class="hover-underline-animation font1">Confidence and Hard-work is the best
                                        medicine to kill the disease called failure
                                    </h4>
                                </a>
                                <div class=" post-meta  font1 ">
                                    <img src="/public/clock-solid.svg" alt="" srcset="">
                                    <span>4 min</span>
                                </div>
                            </div>
                        </div>
    
                    </div>
                </div>
            </div>
            <div class="blog_post_sidebar_cont shadow_effect top-bottom_margin2">
                <div class="blog_feature_posts flex">
                    <h2 class="font1">Feature Posts</h2>
                    <div class="blog_feature_post flex">
                        <img src="/public/bg1.jpg" class="blog_feature_img" alt="" srcset="">
                        <div class="feature_post_content">
                            <a>
                                <h4 class="hover-underline-animation font1">Never let your memories be greater than your
                                    dreams
                                </h4>
                            </a>
                            <div class=" post-meta  font1">
                                <img src="/public/clock-solid.svg" alt="" srcset="">
                                <span>5 min</span>
                            </div>
                        </div>
                    </div>
                    <div class="blog_feature_post flex ">
                        <img src="/public/bg2.jpg" class="blog_feature_img" alt="" srcset="">
                        <div class="feature_post_content">
                            <a>
                                <h4 class="hover-underline-animation font1">The future belongs to those who believe in
                                    the beauty of their dreams.
                                </h4>
                            </a>
                            <div class=" post-meta  font1">
                                <img src="/public/clock-solid.svg" alt="" srcset="">
                                <span>5 min</span>
                            </div>
                        </div>
                    </div>
                    <div class="blog_feature_post flex">
                        <img src="/public/blog_post9.jpg" class="blog_feature_img" alt="" srcset="">
                        <div class="feature_post_content">
                            <a>
                                <h4 class="hover-underline-animation font1">Don't waste your energy trying to change
                                    opinions ... Do your thing, and don't care if they like it.
                                </h4>
                            </a>
                            <div class=" post-meta  font1">
                                <img src="/public/clock-solid.svg" alt="" srcset="">
                                <span>5 min</span>
                            </div>
                        </div>
                    </div>
                    <div class="blog_feature_post flex">
                        <img src="/public/blog_post10.jpg" class="blog_feature_img" alt="" srcset="">
                        <div class="feature_post_content">
                            <a>
                                <h4 class="hover-underline-animation font1">Confidence and Hard-work is the best
                                    medicine to kill the disease called failure
                                </h4>
                            </a>
                            <div class=" post-meta  font1">
                                <img src="/public/clock-solid.svg" alt="" srcset="">
                                <span>4 min</span>
                            </div>
                        </div>
                    </div>

                </div>

                <h2 class="font1">Tags</h2>
                <div class="blog_tags font1 flex">
                    <div class="taglist flex" data-tag>
                        <a href="">
                            <span id="tag1" class="tag-accent"></span>
                            Anxiety
                        </a>
                    </div>
                    <div class="taglist flex">
                        <a href="">
                            <span id="tag2" class="tag-accent"></span>
                            Depression
                        </a>
                    </div>
                    <div class="taglist flex">
                        <a href="">
                            <span id="tag3" class="tag-accent"></span>
                            Self-Care
                        </a>
                    </div>
                    <div class="taglist flex">
                        <a href="">
                            <span id="tag4" class="tag-accent"></span>
                            Mindfulness
                        </a>
                    </div>
                    <div class="taglist flex">
                        <a href="">
                            <span id="tag5" class="tag-accent"></span>
                            Positive Psychology
                        </a>
                    </div>
                    <div class="taglist flex">
                        <a href="">
                            <span id="tag6" class="tag-accent"></span>
                            Relationships and Communication
                        </a>
                    </div>
                    <div class="taglist flex">
                        <a href="">
                            <span id="tag7" class="tag-accent"></span>
                            Inspirational Stories
                        </a>
                    </div>
                    <div class="taglist flex">
                        <a href="">
                            <span id="tag8" class="tag-accent"></span>
                            Mental Health Awareness
                        </a>
                    </div>
                </div>

                <div class="latest_post flex">
                    <h2 class="font1">Latest Posts</h2>
                    <div class="blog_feature_post flex ">
                        <img src="/public/blog_post8.jpg" class="blog_feature_img" alt="" srcset="">
                        <div class="feature_post_content">
                            <a>
                                <h4 class="hover-underline-animation font1">The future belongs to those who believe in
                                    the beauty of their dreams.
                                </h4>
                            </a>
                            <div class=" post-meta  font1">
                                <img src="/public/clock-solid.svg" alt="" srcset="">
                                <span>3 min</span>
                            </div>
                        </div>
                    </div>
                    <div class="blog_feature_post flex">
                        <img src="/public/bg_header.jpg" class="blog_feature_img" alt="" srcset="">
                        <div class="feature_post_content">
                            <a>
                                <h4 class="hover-underline-animation font1">I don't want to be at the mercy of my
                                    emotions. I want to use them, to enjoy them, and to dominate them.
                                </h4>
                            </a>
                            <div class=" post-meta  font1">
                                <img src="/public/clock-solid.svg" alt="" srcset="">
                                <span>5 min</span>
                            </div>
                        </div>
                    </div>
                    <div class="blog_feature_post flex">
                        <img src="/public/bg.jpg" class="blog_feature_img" alt="" srcset="">
                        <div class="feature_post_content">
                            <a>
                                <h4 class="hover-underline-animation font1">I never dreamed about success. I worked for
                                    it.
                                </h4>
                            </a>
                            <div class=" post-meta  font1">
                                <img src="/public/clock-solid.svg" alt="" srcset="">
                                <span>4 min</span>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="newsletter flex">
                    <h2 class="heading">Newsletter</h2>
                    <h3 class="font1">Get the latest posts delivered straight to your inbox.</h3>
                    <form action="" class="newsletter_form font1 flex">
                        <input type="text" name="user_name" placeholder="Enter your name ">
                        <input type="email" name="user_email" placeholder="Enter your email Id ">
                        <button class="btns">Submit</button>
                    </form>
                </div>
                <div class="follow_us">
                    <h2 class="font1">Follow Us</h2>
                    <div class="social_media_icon">
                        <a href="https://www.facebook.com/" target="_blank"><img src="/public/icons8-facebook.svg"
                                alt="" srcset=""></a>
                        <a href="https://www.instagram.com/ " target="_blank"><img src="/public/icons8-instagram.svg"
                                alt="" srcset=""></a>
                        <a href="https://in.pinterest.com/" target="_blank"><img src="/public/icons8-pinterest.svg"
                                alt="" srcset=""></a>
                        <a href="https://twitter.com/?lang=en" target="_blank"><img id="twitter"
                                src="/public/logo-white.png" alt="" srcset=""></a>
                        <a href="https://in.linkedin.com/" target="_blank"><img src="/public/icons8-linkedin.svg" alt=""
                                srcset=""></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="blog_footer flex">
            <div class="blog_footer1 footer">
                <div class="footer_newsletter">
                    <h2 class="font1">Newsletter</h2>
                    <h4 class="font1">Get the latest posts delivered straight to your inbox.</h4>
                    <form action="" class="newsletter_form font1 flex">
                        <div class="form flex">
                            <input data-members-email="" type="email" id="email" placeholder="Enter Your email address" required="" autocomplete="off">
                            <button class="btns" type="submit"><span>Subscribe</span></button>
                        </div>
                        <!-- <div class="message-container">
                            <div class="notification success form-notification">
                                <a class="notification-close" href="javascript:;" aria-label="close notification"><span class="close-icon"><svg><use xlink:href="#i-close"></use></svg></span></a>
                                <strong>Great!</strong> Check your inbox and click the link to confirm your subscription.
                            </div>
                            <div class="notification error form-notification">
                                <a class="notification-close" href="javascript:;" aria-label="close notification"><span class="close-icon"><svg><use xlink:href="#i-close"></use></svg></span></a>
                                <strong>Error!</strong> Please enter a valid email address!
                            </div>
                        </div> -->
                    </form>
                </div>
                <div class="footer_follow">
                    <h2 class="font1">Follow Us</h2>
                    <div class="social_media_icon">
                        <a href="https://www.facebook.com/" target="_blank"><img src="/public/icons8-facebook.svg" alt="" srcset=""></a>
                        <a href="https://www.instagram.com/ " target="_blank"><img src="/public/icons8-instagram.svg" alt="" srcset=""></a>
                        <a href="https://in.pinterest.com/" target="_blank"><img src="/public/icons8-pinterest.svg" alt="" srcset=""></a>
                        <a href="https://twitter.com/?lang=en" target="_blank"><img id="twitter" src="/public/logo-white.png" alt="" srcset=""></a>
                        <a href="https://in.linkedin.com/" target="_blank"><img  src="/public/icons8-linkedin.svg" alt="" srcset=""></a>
                    </div>
                </div>
            </div>
            <div class="blog_footer2 footer flexbox-y">
                <h2 class="font1">Latest Posts</h2>
                <div class="latest_post flex">
                    <div class="blog_feature_post flex ">
                        <img src="/public/blog_post8.jpg" class="blog_feature_img" alt="" srcset="">
                        <div class="feature_post_content">
                            <a>
                                <h4 class="hover-underline-animation font1">The future belongs to those who believe in
                                    the beauty of their dreams.
                                </h4>
                            </a>
                            <div class=" post-meta  font1">
                                <img src="/public/clock-solid.svg" alt="" srcset="">
                                <span>3 min</span>
                            </div>
                        </div>
                    </div>
                    <div class="blog_feature_post flex">
                        <img src="/public/bg_header.jpg" class="blog_feature_img" alt="" srcset="">
                        <div class="feature_post_content">
                            <a>
                                <h4 class="hover-underline-animation font1">I don't want to be at the mercy of my
                                    emotions. I want to use them, to enjoy them, and to dominate them.
                                </h4>
                            </a>
                            <div class=" post-meta  font1">
                                <img src="/public/clock-solid.svg" alt="" srcset="">
                                <span>5 min</span>
                            </div>
                        </div>
                    </div>
                    <div class="blog_feature_post flex">
                        <img src="/public/bg.jpg" class="blog_feature_img" alt="" srcset="">
                        <div class="feature_post_content">
                            <a>
                                <h4 class="hover-underline-animation font1">I never dreamed about success. I worked for
                                    it.
                                </h4>
                            </a>
                            <div class=" post-meta  font1">
                                <img src="/public/clock-solid.svg" alt="" srcset="">
                                <span>4 min</span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="blog_footer3 footer">
                <h2 class="font1">Tags</h2><br>
                <div class="blog_tags font1 ">
                    <div class="taglist flex" data-tag>
                        <a href="">
                            <span id="tag1" class="tag-accent"></span>
                            Anxiety
                        </a>
                    </div>
                    <div class="taglist flex">
                        <a href="">
                            <span id="tag2" class="tag-accent"></span>
                            Depression
                        </a>
                    </div>
                    <div class="taglist flex">
                        <a href="">
                            <span id="tag3" class="tag-accent"></span>
                            Self-Care
                        </a>
                    </div>
                    <div class="taglist flex">
                        <a href="">
                            <span id="tag4" class="tag-accent"></span>
                            Mindfulness
                        </a>
                    </div>
                    <div class="taglist flex">
                        <a href="">
                            <span id="tag5" class="tag-accent"></span>
                            Positive Psychology
                        </a>
                    </div>
                    <div class="taglist flex">
                        <a href="">
                            <span id="tag6" class="tag-accent"></span>
                            Relationships and Communication
                        </a>
                    </div>
                    <div class="taglist flex">
                        <a href="">
                            <span id="tag7" class="tag-accent"></span>
                            Inspirational Stories
                        </a>
                    </div>
                    <div class="taglist flex">
                        <a href="">
                            <span id="tag8" class="tag-accent"></span>
                            Mental Health Awareness
                        </a>
                    </div>
                </div>
                <div class="blog_footer_terms">
                    <p class="font1 hover-underline-animation"><a>Privacy Policy</a></p>
                    <p class="font1 hover-underline-animation"><a>Terms and Condition</a></p>
                    <p class="font1 hover-underline-animation"><a>Contact</a></p>
                </div>
            </div>
        </div>

        <div id="blog_copyright" class="font1">
            <p id="copyright">&#169 2023 SmilePlease - All right Reserved. Proudly Published with Ghost</p>
             <button id="back-to-top_btns">&#8593 BacktoTop</button>
        </div>
    </div>
</body>

</html>