<div class="profile-sidebar pad-1">
    <div class="user-widget flexbox-y pad-1">
        <div class="user-avatar flex">
            <img src="../../../public/author3.jpg" alt="" class="avatar-img" srcset="">
        </div>
        <span class="rating flex pad-1">
            <i class="fa-solid fa-star star-filled"></i>
            <i class="fa-solid fa-star star-filled"></i>
            <i class="fa-solid fa-star star-filled"></i>
            <i class="fa-solid fa-star star-filled"></i>
            <i class="fa-solid fa-star star-not-filled"></i>
            <span class="rate font1">4</span>
        </span>
        <div class="mentor-descr flexbox-y">
            <h3 class="mentor-name font1"> Dr. Sarah Thompson</h3>
            <span class="mentor-specilization heading_lite font1 blue-font">Clinical Psychology</span>
            <span class="mentor-location font1 flexbox-start">
                <i class='fas fa-map-marker-alt'></i>
                <span class="font1 yellow_font">
                    <h3>New York City, NY</h3>
                </span>
            </span>
        </div>
        <div class="progress-cont flexbox-y">
            <h3 class="heading_lite pad-1">Complete your profile ></h3>
            <div class="progress-bar">
                <div class="profile">
                    <span class="flex">86%</span>
                </div>
            </div>
        </div>
    </div>
    <div class="custom-sidebar">
        <ul class="font1">
            <li class="active">
                <a href="mentor-dashboard-page">
                    <i class="fas fa-home"></i>Dashboard
                    <span><i class="fas fa-chevron-right i-at-end"></i></span>
                </a>
            </li>
            <li>
                <a href="/Blog/DashBoard/create-blog">
                    <i class="fab fa-blogger-b"></i>Create Blog
                    <span><i class="fas fa-chevron-right i-at-end"></i></span>
                </a>
            </li>
            <li>
                <a href="schedule-timing">
                    <i class="fa-solid fa-table"></i>Categories
                    <span><i class="fas fa-chevron-right i-at-end"></i></span>
                </a>
            </li>
            <li>
                <a href="">
                    <i class="fas fa-user-cog"></i>Settings
                    <span><i class="fas fa-chevron-right i-at-end"></i></span>
                </a>
            </li>
            <li>
                <a href="">
                    <i class="fas fa-sign-out-alt"><i class="fas fa-user-cog"></i></i>Logout
                    <span><i class="fas fa-chevron-right i-at-end"></i></span>
                </a>
            </li>
        </ul>
    </div>
</div>