<%- include('./layouts/header.ejs') %>
    <div class="container mt-5 mb-5">
        <h1>Forget Password</h1>
        <form action="" method="post" class="mt-3">
            <input type="email" required placeholder="Enter Email" name="email">
            <br>
            <input type="submit" value="Forget Password" class="btn btn-info mt-2">
        </form>
        <% 
            if(typeof message!=='undefined'){
                %>
                <p><%= message %></p>
                <%
            }
        %>
    </div>
<%- include('./layouts/footer.ejs') %>