<div class="blog_footer-white flex">
    <div class="blog_footer1 footer">
        <div class="footer_newsletter">
            <h2 class="font1">Newsletter</h2>
            <h4 class="font1">Get the latest posts delivered straight to your inbox.</h4>
            <form action="" class="newsletter_form font1 flex">
                <div class="form flex">
                    <input data-members-email="" type="email" id="email" placeholder="Enter Your email address"
                        required="" autocomplete="off">
                    <button class="btns" type="submit"><span>Subscribe</span></button>
                </div>
            </form>
        </div>
        <div class="footer_follow">
            <h2 class="font1">Follow Us</h2>
            <div class="social_media_icon">
                <a href="https://www.facebook.com/" target="_blank"><img src="/public/icons8-facebook.svg" alt=""
                        srcset=""></a>
                <a href="https://www.instagram.com/ " target="_blank"><img src="/public/icons8-instagram.svg" alt=""
                        srcset=""></a>
                <a href="https://in.pinterest.com/" target="_blank"><img src="/public/icons8-pinterest.svg" alt=""
                        srcset=""></a>
                <a href="https://twitter.com/?lang=en" target="_blank"><img id="twitter" src="/public/reddit.png" alt=""
                        srcset=""></a>
                <a href="https://in.linkedin.com/" target="_blank"><img src="/public/icons8-linkedin.svg" alt=""
                        srcset=""></a>
            </div>
        </div>
    </div>
    <div class="blog_footer2 footer flexbox-y">
        <h2 class="font1">Latest Posts</h2>
        <div class="latest_post flex">
            <div class="blog_feature_post flex ">
                <img src="/public/blog_post8.jpg" class="blog_feature_img" alt="" srcset="">
                <div class="feature_post_content">
                    <a>
                        <h4 class="hover-underline-animation font1">The future belongs to those who believe in
                            the beauty of their dreams.
                        </h4>
                    </a>
                    <div class=" post-meta  font1">
                        <img src="/public/clock-solid.svg" alt="" srcset="">
                        <span>3 min</span>
                    </div>
                </div>
            </div>
            <div class="blog_feature_post flex">
                <img src="/public/bg_header.jpg" class="blog_feature_img" alt="" srcset="">
                <div class="feature_post_content">
                    <a>
                        <h4 class="hover-underline-animation font1">I don't want to be at the mercy of my
                            emotions. I want to use them, to enjoy them, and to dominate them.
                        </h4>
                    </a>
                    <div class=" post-meta  font1">
                        <img src="/public/clock-solid.svg" alt="" srcset="">
                        <span>5 min</span>
                    </div>
                </div>
            </div>
            <div class="blog_feature_post flex">
                <img src="/public/bg.jpg" class="blog_feature_img" alt="" srcset="">
                <div class="feature_post_content">
                    <a>
                        <h4 class="hover-underline-animation font1">I never dreamed about success. I worked for
                            it.
                        </h4>
                    </a>
                    <div class=" post-meta  font1">
                        <img src="/public/clock-solid.svg" alt="" srcset="">
                        <span>4 min</span>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="blog_footer3 footer">
        <h2 class="font1">Tags</h2><br>
        <div class="blog_tags font1 ">
            <div class="taglist flex" data-tag>
                <a href="">
                    <span id="tag1" class="tag-accent"></span>
                    Anxiety
                </a>
            </div>
            <div class="taglist flex">
                <a href="">
                    <span id="tag2" class="tag-accent"></span>
                    Depression
                </a>
            </div>
            <div class="taglist flex">
                <a href="">
                    <span id="tag3" class="tag-accent"></span>
                    Self-Care
                </a>
            </div>
            <div class="taglist flex">
                <a href="">
                    <span id="tag4" class="tag-accent"></span>
                    Mindfulness
                </a>
            </div>
            <div class="taglist flex">
                <a href="">
                    <span id="tag5" class="tag-accent"></span>
                    Positive Psychology
                </a>
            </div>
            <div class="taglist flex">
                <a href="">
                    <span id="tag6" class="tag-accent"></span>
                    Relationships and Communication
                </a>
            </div>
            <div class="taglist flex">
                <a href="">
                    <span id="tag7" class="tag-accent"></span>
                    Inspirational Stories
                </a>
            </div>
            <div class="taglist flex">
                <a href="">
                    <span id="tag8" class="tag-accent"></span>
                    Mental Health Awareness
                </a>
            </div>
        </div>
        <div class="blog_footer_terms">
            <p class="font1 hover-underline-animation"><a>Privacy Policy</a></p>
            <p class="font1 hover-underline-animation"><a>Terms and Condition</a></p>
            <p class="font1 hover-underline-animation"><a>Contact</a></p>
        </div>
    </div>
</div>
<div id="blog-copyright-white" class="font1 flex pad-1">
    <p id="copyright">&#169 2023 SmilePlease - All right Reserved. Proudly Published with Ghost</p>
    <button id="back-to-top_btns">&#8593 BacktoTop</button>
</div>
</div>
